<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Well{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            {% include "_includes/navbar.html.twig" %}
        </nav>

        <section>
            {% block body %}{% endblock %}
        </section>

        <footer>
            {% include "_includes/footer.html.twig" %}
        </footer>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
